<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Simple APIs

## Random User and Fruitvice API Examples

Estimated time needed: **25** minutes

## Objectives

After completing this lab you will be able to:

*   Load and use RandomUser API, using `RandomUser()` Python library
*   Load and use Fruitvice API, using `requests` Python library

The purpose of this notebook is to provide more examples on how to use simple APIs. As you have already learned from previous videos and notebooks, API stands for Application Programming Interface and is a software intermediary that allows two applications to talk to each other.

The advantages of using APIs:

*   **Automation**. Less human effort is required and workflows can be easily updated to become faster and more\
    productive.
*   **Efficiency**. It allows to use the capabilities of one of the already developed APIs than to try to
    independently implement some functionality from scratch.

The disadvantage of using APIs:

*   **Secirity**. If the API is poorly integrated, it means it will be vulnerable to attacks, resulting in data\
    breeches or losses having financial or reputation implications.

One of the applications we will use in this notebook is Random User Generator. RandomUser is an open-source, free API providing developers with randomly generated users to be used as placeholders for testing purposes. This makes the tool similar to Lorem Ipsum, but is a placeholder for people instead of text. The API can return multiple results, as well as specify generated user details such as gender, email, image, username, address, title, first and last name, and more. More information on [RandomUser](https://randomuser.me/documentation?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2022-01-01#intro) can be found here.

Another example of simple API we will use in this notebook is Fruitvice application. The Fruitvice API webservice which provides data for all kinds of fruit! You can use Fruityvice to find out interesting information about fruit and educate yourself. The webservice is completely free to use and contribute to.

## Example 1: RandomUser API

Bellow are Get Methods parameters that we can generate. For more information on the parameters, please visit this [documentation](https://randomuser.me/documentation?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2022-01-01) page.

## **Get Methods**

*   get_cell()
*   get_city()
*   get_dob()
*   get_email()
*   get_first_name()
*   get_full_name()
*   get_gender()
*   get_id()
*   get_id_number()
*   get_id_type()
*   get_info()
*   get_last_name()
*   get_login_md5()
*   get_login_salt()
*   get_login_sha1()
*   get_login_sha256()
*   get_nat()
*   get_password()
*   get_phone()
*   get_picture()
*   get_postcode()
*   get_registered()
*   get_state()
*   get_street()
*   get_username()
*   get_zipcode()

To start using the API you can install the `randomuser` library running the `pip install` command.

In [1]:
!pip install randomuser

Collecting randomuser
  Downloading randomuser-1.6.tar.gz (5.0 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: randomuser
  Building wheel for randomuser (setup.py) ... done
  Created wheel for randomuser: filename=randomuser-1.6-py3-none-any.whl size=5067 sha256=303147ba2aef6776717d6a8305fdfae21bb5ab6ac0792b27905282baf156403f
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/21/10/7b/c13bc3e24a3c1000a34554802ad8aa0ff27df56366998a0473
Successfully built randomuser
Installing collected packages: randomuser
Successfully installed randomuser-1.6

Then, we will load the necessary libraries.

In [2]:
from randomuser import RandomUser
import pandas as pd

First, we will create a random user object, r.

In [3]:
r = RandomUser()

Then, using `generate_users()` function, we get a list of random 10 users.

In [4]:
some_list = r.generate_users(10)

In [5]:
some_list

[<randomuser.RandomUser at 0x7efbda75c690>,
 <randomuser.RandomUser at 0x7efbda75c6d0>,
 <randomuser.RandomUser at 0x7efbda75c710>,
 <randomuser.RandomUser at 0x7efbda75c750>,
 <randomuser.RandomUser at 0x7efbda75c790>,
 <randomuser.RandomUser at 0x7efbda75c810>,
 <randomuser.RandomUser at 0x7efbda75c850>,
 <randomuser.RandomUser at 0x7efbda75c890>,
 <randomuser.RandomUser at 0x7efbda75c8d0>,
 <randomuser.RandomUser at 0x7efbda75c7d0>]

The **"Get Methods"** functions mentioned at the beginning of this notebook, can generate the required parameters to construct a dataset. For example, to get full name, we call `get_full_name()` function.

In [6]:
name = r.get_full_name()

Let's say we only need 10 users with full names and their email addresses. We can write a "for-loop" to print these 10 users.

In [7]:
for user in some_list:
    print (user.get_full_name()," ",user.get_email())

آوا مرادی   aw.mrdy@example.com
Eelis Salonen   eelis.salonen@example.com
Tilde Nielsen   tilde.nielsen@example.com
Angelina Laurent   angelina.laurent@example.com
Chanelle Pardoel   chanelle.pardoel@example.com
Patrick Noel   patrick.noel@example.com
Rajae Floor   rajae.floor@example.com
Else Van Hartingsveldt   else.vanhartingsveldt@example.com
Jake Lewis   jake.lewis@example.com
Mathis Jean-Baptiste   mathis.jean-baptiste@example.com

## Exercise 1

In this Exercise, generate photos of the random 5 users.

In [11]:
## Write your code here
from randomuser import RandomUser
import pandas as pd
r = RandomUser()
users=r.generate_users(5)
users

#pic=r.get_picture()

for client in users:
    print (client.get_picture()," ",client.get_email()," ",client.get_gender())

https://randomuser.me/api/portraits/men/54.jpg   edgar.hanson@example.com   male
https://randomuser.me/api/portraits/women/87.jpg   laurie.ouellet@example.com   female
https://randomuser.me/api/portraits/women/39.jpg   emily.rasmussen@example.com   female
https://randomuser.me/api/portraits/men/18.jpg   mason.wells@example.com   male
https://randomuser.me/api/portraits/men/88.jpg   lachlan.johnson@example.com   male

<details><summary>Click here for the solution</summary>

```python
for user in some_list:
    print (user.get_picture())
```

</details>

To generate a table with information about the users, we can write a function containing all desirable parameters. For example, name, gender, city, etc. The parameters will depend on the requirements of the test to be performed. We call the Get Methods, listed at the beginning of this notebook. Then, we return pandas dataframe with the users.

In [16]:
def get_users():
    users =[]
     
    for user in RandomUser.generate_users(5):
        users.append({"Name":user.get_full_name(),"Gender":user.get_gender(),"City":user.get_city(),"State":user.get_state(),"Email":user.get_email(), "DOB":user.get_dob(),"Picture":user.get_picture()})
      
    return pd.DataFrame(users)

In [18]:
get_users()

,Name,Gender,City,State,Email,DOB,Picture
0,Harry Robinson,male,Invercargill,Taranaki,harry.robinson@example.com,1982-12-03T21:49:53.171Z,https://randomuser.me/api/portraits/men/8.jpg
1,Dora Jesus,female,Londrina,Paraná,dora.jesus@example.com,1957-02-06T10:10:13.225Z,https://randomuser.me/api/portraits/women/3.jpg
2,محیا نكو نظر,female,قائم‌شهر,همدان,mhy.nkwnzr@example.com,1990-10-26T13:12:29.134Z,https://randomuser.me/api/portraits/women/78.jpg
3,Eileen Stein,female,Bad Camberg,Sachsen-Anhalt,eileen.stein@example.com,1955-04-16T17:09:46.057Z,https://randomuser.me/api/portraits/women/56.jpg
4,Emre Yalçın,male,Şanlıurfa,Kilis,emre.yalcin@example.com,1984-06-05T00:42:45.144Z,https://randomuser.me/api/portraits/men/84.jpg

In [20]:
df1 = pd.DataFrame(get_users())  
df1

,Name,Gender,City,State,Email,DOB,Picture
0,Nolan Michel,male,Bordeaux,Guyane,nolan.michel@example.com,1949-07-27T11:21:29.549Z,https://randomuser.me/api/portraits/men/15.jpg
1,Phoebe Jones,female,Edenderry,Longford,phoebe.jones@example.com,1993-10-26T01:47:42.497Z,https://randomuser.me/api/portraits/women/36.jpg
2,Lily Brar,female,Hampstead,Alberta,lily.brar@example.com,1966-05-19T14:30:45.863Z,https://randomuser.me/api/portraits/women/70.jpg
3,Enora Dubois,female,Toulouse,Tarn,enora.dubois@example.com,1949-03-02T14:24:38.927Z,https://randomuser.me/api/portraits/women/53.jpg
4,Victor Ward,male,Sacramento,Wisconsin,victor.ward@example.com,1965-08-20T23:09:42.008Z,https://randomuser.me/api/portraits/men/12.jpg

Now we have a *pandas* dataframe that can be used for any testing purposes that the tester might have.

## Example 2: Fruitvice API

Another, more common way to use APIs, is through `requests` library. The next lab, Requests and HTTP, will contain more information about requests.

We will start by importing all required libraries.

In [21]:
import requests
import json

We will obtain the [fruitvice](https://www.fruityvice.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2022-01-01) API data using `requests.get("url")` function. The data is in a json format.

In [32]:
data = requests.get("https://www.fruityvice.com/api/fruit/all")
data.headers
#data.text

{'Server': 'nginx/1.16.1', 'Date': 'Wed, 26 Oct 2022 15:27:29 GMT', 'Content-Type': 'text/plain;charset=UTF-8', 'Content-Length': '10265', 'Connection': 'keep-alive', 'X-Content-Type-Options': 'nosniff', 'X-XSS-Protection': '1; mode=block', 'Cache-Control': 'no-cache, no-store, max-age=0, must-revalidate', 'Pragma': 'no-cache', 'Expires': '0', 'X-Frame-Options': 'DENY'}

We will retrieve results using `json.loads()` function.

In [27]:
results = json.loads(data.text)

We will convert our json data into *pandas* data frame.

In [64]:
#pd.DataFrame(results)

The result is in a nested json format. The 'nutrition' column contains multiple subcolumns, so the data needs to be 'flattened' or normalized.

In [33]:
df2 = pd.json_normalize(results)

In [56]:
#df2

Let's see if we can extract some information from this dataframe. Perhaps, we need to know the family and genus of a cherry.

In [52]:
cherry = df2.loc[df2["name"] == 'Cherry']
cherry

(cherry.iloc[0]['family']) , (cherry.iloc[0]['genus'])
df2.columns

df2["name"] == 'Cherry'
df2.loc[df2["name"] == 'Cherry',:]

,genus,name,id,family,order,nutritions.carbohydrates,nutritions.protein,nutritions.fat,nutritions.calories,nutritions.sugar
6,Prunus,Cherry,9,Rosaceae,None,12.0,1.0,0.3,50,8.0

## Exercise 2

In this Exercise, find out how many calories are contained in a banana.

In [55]:
# Write your code here
banana=df2.loc[df2["name"] == 'Banana']
(banana.iloc[0]['name']),(banana.iloc[0]['nutritions.calories'])

('Banana', 96)

<details><summary>Click here for the solution</summary>

```python
cal_banana = df2.loc[df2["name"] == 'Banana']
cal_banana.iloc[0]['nutritions.calories']
```

</details>

## Exercise 3

This [page](https://github.com/public-apis/public-apis#animals) contains a list of free public APIs. Choose any API of your interest and use it to load/extract some information, as shown in the example above.

1.  Using `requests.get("url")` function, load your data.

In [ ]:
# Write your code here
import requests
import json
import pandas as pd

url="https://www.fishwatch.gov/api/species"

g=requests.get(url)
g.status_code

<details><summary>Click here for the solution</summary>

```python
data2 = requests.get("https://www.fishwatch.gov/api/species")
```

</details>

2.  Retrieve results using `json.loads()` function.

In [ ]:
# Write your code here
results=json.loads(g.text)

<details><summary>Click here for the solution</summary>

```python
results2 = json.loads(data2.text)
```

</details>

3.  Convert json data into *pandas* data frame.

In [ ]:
# Write your code here
data=pd.DataFrame(results)
data


<details><summary>Click here for the solution</summary>

```python
df3 = pd.DataFrame(results2)
df3
```

</details>

# Congratulations! - You have completed the lab

## Author

[Svitlana Kramar](https://www.linkedin.com/in/svitlana-kramar?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2022-01-01)

Svitlana is a master’s degree Data Science and Analytics student at University of Calgary, who enjoys travelling, learning new languages and cultures and loves spreading her passion for Data Science.

Copyright © 2020 IBM Corporation. All rights reserved.